[submodule "Toolchain/musl"]
	path = Toolchain/musl
	url = https://github.com/open-ead/botw-lib-musl.git
[submodule "Tools/nso-tools"]
	path = Tools/nso-tools
	url = https://github.com/dt-12345/nso-tools.git
