[submodule "toolchain/musl"]
	path = toolchain/musl
	url = https://github.com/open-ead/botw-lib-musl.git
[submodule "tools/nso-tools"]
	path = tools/nso-tools
	url = https://github.com/dt-12345/nso-tools.git
